<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 0px;">
    <table  width="100%">
        <tr  style="height:100px; background-color:rgb(88, 126, 214) ;">
            <th style="font-family: sans-serif; font-size:34px; color: white; font-weight: bold;" colspan="3">facebook</td>

        </tr>
        <tr >
            
            <td colspan="3" align="center">
                <br><br><br><br>
                <table >
                    <form action="">
                    <tr>
                        <td><label for="fn">full name:</label></td>
                        <td><input style="width: 300px;" id="fn" type="text"></td>
                    </tr>
                    <tr>
                        <td><label for="dt">date of birth:</label></td>
                        <td><input style="width: 300px;" id="dt" type="date"></td>
                    </tr>
                    <tr>
                        <td><label for="ad">adress:</label></td>
                        <td> <textarea style="width: 300px;" name="" id="ad" cols="30" rows="6"></textarea></td>
                    </tr>
                    <tr>
                        <td><label for="mn">mob no:</label></td>
                        <td><input style="width: 300px;" id="mn" type=" number"></td>
                        </tr>
                        <tr>
                            <td><label for="em">email:</label></td>
                            <td><input style="width: 300px;" type="email" name="" id="em"></td>
                        </tr>
                        <tr >
                            <th colspan="2">
                                <button style="color: white; background-color: rgb(54, 129, 216);font-size: medium;width: 86px;border-radius: 8px;" type="submit">next ></button>
                            </th>
                        </tr>
                    </form>
                </table>


            </td>
            
        </tr>
        <tr>
            <td align="center
            " colspan="3">
                <p>alredy have an accound ?</p>
            </td>
        </tr>
    </table>

    
</body>
</html>